*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    font-family: sans-serif;
    color: white;
 }

 /* HEADER */
 header{
    background-color: rgb(37, 94, 233);
    width: 100%;
    padding: 30px;
 }

 .container{
    max-width: 1100px;
    margin: 0 auto;

 }

 .row{
    display: flex;
    justify-content: space-around;
    align-items: center;

 }

/* HEADER COLUMNS */

 .col-20{
    padding: 5px 10px;
}

.col-accedi{
    background-color: white;
    border-radius: 31px;
    width: 100px;
    text-align: center;
    padding: 9px;
    color: black;
}

.bottom{
    background-color: white;
    border-radius: 31px;
    height: 40px;
    text-align: center;
    width: 80px;
    padding: 9px;
}

.col-60{
    height: 30px;
    width: 60%;
}

.rowlink{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.col-link{
    margin-left: 10px;
}

/* END HEADER  */


/* JUMBOTRON */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    height: 550px; 
}


 .col-pink{
    height: 400px;
    width: 50%;
    margin: 0 auto;
 }

 /* CONTENT JUMBO */

 .content{
        text-align: center;
 }

 h1{
    font-size: 60px;
 }

 .toptext{
    font-size: 20px;
    margin-top: 50px;
    line-height: 33px;
}

.bwbuttons{
       display: flex;
       justify-content: center;
       margin-top: 25px;
}

.scarica{
    margin-right: 20px;
    background-color: white;
    border-radius: 31px;
    padding: 20px;
    width: 250px;
    font-size: 20px;
    color: black;
}

.browser{
    margin-left: 10px;
    width: 350px;
    background-color: black;
    border-radius: 31px;
    padding: 20px;
    font-size: 20px;
}

/* END CONTENT JUMBO */

/* END JUMBOTRON */








/* 2ND - 4TH SECTION */


.frog-section{
    background-color: rgb(255, 255, 255);
    height: 700px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 130px;
}

.row-pink{
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .frogimg{
    margin-right: 50px;
 }

 .col-textfrog{
    height: 400px;
    margin-left: 140px;
 }


 .textfrog{
    font-size: 20px;
    line-height: 33px;
    margin-top: 20px;
    color: black;
 }

/* END 2ND - 4TH SECTION */



.col-pinky{
    background-color: pink;
    height: 400px;
    width: calc(40%);
    border-style: dotted;
    margin-top: 50px;
 }

 .col-blue{
    background-color: lightblue;
    height: 400px;
    width: 20%;
    border: 1px dashed black;
    margin-top: 50px;
 }




/* 3RD SECTION */

.third{
    background-color: lightgray;
    padding: 5px;
}
.wizard-section{
    background-color: lightgray;
    height: 700px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 130px;
}

.row-pink{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .col-textwiz{
    height: 400px;
    margin-top: 50px;
    margin-right: 100px;
 }

 .wizimg{
    margin-right: 50px;
 }

 .textwiz{
    font-size: 20px;
    line-height: 33px;
    margin-top: 20px;
    color: black;
 }


 .h2-black{
        font-size: 60px;
        color: black;
 }

/* END 3RD SECTION */




/* 5TH SECTION */

.final{
    margin-top: 70px;
}
.fgrey-section{
    background-color:lightgrey;
    margin: 0 auto;
    padding: 100px;
}

#h2-final{
    font-size: 60px;
    color: black;
    text-align: center;
}


.row-green{
    display: flex;
    justify-content: center;
    align-items: center;

 }

 #chill{
    background-size: contain;
    width: 1400px;
 }

 .chilltext{
    font-size: 20px;
    line-height: 33px;
    padding: 50px;
    color: black;
    text-align: center;
 }

.h4{
    text-align: center;
    font-size: 33px;
    color: rgb(34, 38, 41);
}

#avventura{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pronto{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 640px;
    padding: 40px;
}

.con-avv{
    height: 100px;
}

.scaricablu{
    margin-right: 20px;
    background-color: rgb(142, 161, 225);
    border-radius: 31px;
    padding: 20px;
    width: 250px;
    font-size: 20px;
    color: black;
    text-align: center;
    color: white;
}


/* END 5TH SECTION */

/* FINAL SECTION */

.dark-section{
    background-color: rgb(78, 77, 77);
    height: 450px;
    padding: 100px;
}

.container-dark{
    max-width: 1300px;
    margin: 0 auto;
}

.row-dark{
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .col-tomato{
    height: 400px;
    width: 30%;
    margin-top: 20px;
}

 ul{
    list-style: none;
    font-size: 20px;
}

 h5{
    color: #7289DA;
    font-size: 20px;
 }

 .col-torquoise{
    height: 400px;
    width: 17%;
    margin-top: 20px;
    line-height: 40px;
 }


 h3{
    font-size: 40px;
    color: #7289DA;
 }
 #ita{
    width: 25px;
 }

#italiano{
    margin-top: 20px;
}

#loghini{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 200px;

}


/* END FINAL SECTION */

.row-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
 }

.dark-foot{
    background-color: rgb(78, 77, 77);
    display: flex;
    align-items: flex-end;
    padding: 182px;
}


.foot-container{
    width: 1300px;
    height: 50px;
}


.col-logo, .col-bottone{
    width: 10%;
    padding-left: 10px;
}

.col-bottone{
    background-color:#7289DA;
    border-radius: 31px;
    width: 100px;
    text-align: center;
    padding: 9px;
    color: white;
}

#separetor{
    width: 1300px;
    height: 1px;
    background-color: #7289DA;
}
/* FOOTER */


