*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    font-family: sans-serif;
    color: white;
 }

 /* HEADER */
 header{
    background-color: rgb(37, 94, 233);
    width: 100%;
    padding: 30px;
 }

 .container{
    max-width: 1100px;
    margin: 0 auto;

 }

 .row{
    display: flex;
    justify-content: space-around;
    align-items: center;

 }

/* HEADER COLUMNS */

 .col-20{
    padding: 5px 10px;
}

.col-accedi{
    background-color: white;
    border-radius: 31px;
    width: 100px;
    text-align: center;
    padding: 9px;
    color: black;
}

.bottom{
    background-color: white;
    border-radius: 31px;
    height: 40px;
    text-align: center;
    width: 80px;
    padding: 9px;
}

.col-60{
    height: 30px;
    width: 60%;
}

.rowlink{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.col-link{
    margin-left: 10px;
}

/* END HEADER  */


/* JUMBOTRON */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px; 
}


 .col-pink{
    height: 400px;
    width: 45%;
    margin: 0 auto;
 }

 /* CONTENT JUMBO */

 .content{
        text-align: center;
 }

 h1{
    font-size: 70px;
 }
 .toptext{
    font-size: 20px;
    margin-top: 80px;
    line-height: 33px;
}

.bwbuttons{
       display: flex;
       justify-content: center;
       margin-top: 25px;
}

.scarica{
    margin-right: 20px;
    background-color: white;
    border-radius: 31px;
    padding: 20px;
    width: 250px;
    font-size: 20px;
    color: black;
}

.browser{
    margin-left: 10px;
    width: 350px;
    background-color: black;
    border-radius: 31px;
    padding: 20px;
    font-size: 20px;
}

/* END CONTENT JUMBO */

/* END JUMBOTRON */

/* 2ND - 4TH SECTION */

.row-pink{
    display: flex;
    justify-content: center;
    align-items: center;

 }

.bluepink-section{
    background-color: rgb(255, 255, 255);
    height: 500px;
}

.col-pinky{
    background-color: pink;
    height: 400px;
    width: 40%;
    border: 1px dashed black;
    margin-top: 50px;
 }

 .col-blue{
    background-color: lightblue;
    height: 400px;
    width: 60%;
    border: 1px dashed black;
    margin-top: 50px;
 }

/* END 2ND - 4TH SECTION */

/* 3RD SECTION */
.grey-section{
    background-color:lightgrey;
    height: 500px;
}

.row-reverse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
 }
/* END 3RD SECTION */

/* 5TH SECTION */
.fgrey-section{
    background-color:lightgrey;
    height: 900px;
}

.container-green{
    max-width: 900px;
    margin: 0 auto;
}

.row-green{
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .col-green{
    background-color: rgb(34, 139, 34);
    height: 700px;
    width: 100%;
    border: 1px dashed black;
    margin-top: 50px;
 }
/* END 5TH SECTION */

/* FINAL SECTION */

.dark-section{
    background-color: rgb(78, 77, 77);
    height: 450px;
}

.container-dark{
    max-width: 900px;
    margin: 0 auto;
}

.row-dark{
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .col-tomato{
    background-color: tomato;
    height: 400px;
    width: 30%;
    border: 1px dashed black;
    margin-top: 20px;
 }

 .col-torquoise{
    background-color: turquoise;
    height: 400px;
    width: 17%;
    border: 1px dashed white;
    margin-top: 20px;
 }

/* END FINAL SECTION */

.row-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
 }

.dark-foot{
    background-color: rgb(78, 77, 77);
    margin-top: 2px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: flex-end;
}

.foot-container{
    width: 900px;
    height: 50px;
    margin: 0 auto;
    background-color: aqua;
}


.col-logo, .col-bottone{
    background-color: rgb(235, 129, 235);
    width: 10%;
    padding-left: 10px;
    border: 1px dashed black;
}
/* FOOTER */


